<table mat-table [dataSource]="dataSource" matSort>


    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->

    <ng-container *ngFor="let transaction_field of transaction_fields; " matColumnDef="{{ transaction_field.key }}">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> {{ transaction_field.label }} </th>
      <td mat-cell *matCellDef="let element"> {{element[transaction_field.key]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                  showFirstLastButtons
                  aria-label="Select page of transactions">
    </mat-paginator>